.trailer  .heading {
    letter-spacing: 10PX;
    margin: 0 auto 100PX;
     text-transform: uppercase;
     text-align: left;
     font-size: 50PX;
     font-weight: bold;
     line-height: 1.5em;
     position: relative;
    }
  
  
   
    .trailer .heading:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width:100px;
      background-color: #e91e63;
    }
    .trailer .heading:after {
      content: "";
      position: absolute;
      left: 100PX;
      bottom: 2px;
      height: 1px;
      width: 95%;
     max-width: 300PX;
      background-color: #111;
    }
  

    .trailer .col-sm-12{
        margin: 40PX 0;
    }

    .trailer .content p:first-of-type {
       font-size: 20PX;
    
      }
    
      .trailer .content p:last-of-type {
        font-size: 14PX;
        color: rgb(145, 142, 142);
       }
     
       .trailer  .icons {
       margin-top: 45PX;
       }
       .trailer  .icons i{
        margin: 0 15PX;
        font-size: 20PX;
        cursor: pointer;
        }
     
    
     
        .trailer  .icons span{
          margin-right: 10PX;
         
          }
  
      
  
        


